@media screen and (max-width : 800px) {
   
    nav{
        display: none;
    }

   #hamburger-nav {
    display: flex;
   
   }
  
}

/*skills*/
@media (max-width: 768px) {
    .skills-container {
      flex-direction: column;
      align-items: center;
    }
  
    .skill-item {
      width: 90%;
      margin-bottom: 20px;
    }
  }
  